<!doctype html>
<head>
  <title>SpecMetrics Dashboard</title>
</head>
<body>
  <h1>SpecMetrics Dashboard</h1>
  <h2>Runs for branch "{{ branch_name }}"</h2>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Git SHA</th>
          <th colspan=2>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for branch_run in branch_runs %}
          <tr>
            <td>{{ branch_run["date"] }}</td>
            <td>{{ branch_run["sha"] }}</td>
            <td><a href="/run/{{ branch_run["run_key"] | urlencode }}/overview">Overview</a></td>
            <td><a href="/run/{{ branch_run["run_key"] | urlencode }}/examples_by_runtime">Examples by runtime</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
