<!doctype html>
<head>
  <title>SpecMetrics Dashboard</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>
<body>
  <h1>SpecMetrics Dashboard</h1>
  <h2>Examples by runtime for run "{{ run_key }}"</h2>
  <div class="container">
    <div class="table">
      {{ run_examples_df_html | safe }}
    </div>
  </div>
</body>
